
<div class="row top-trip">
	<div class="col-sm-12 text-left">
		<a href="{{url_for('showCities')}}">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>Show All Destinations
		</a>
	</div>
</div>
<div class="row top-trip">
	<div class="col-sm-12 text-right">
					{%if 'username' not in session %}
			<a href="{{url_for('showLogin')}}"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a>
			{% else %}
			<a href="{{url_for('disconnect')}}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout </a>
			{% endif %}
		
	</div>
</div>